@font-face {
    font-family: gotham-reg;
    src: url(../fonts/GothamPro.woff);
}
@font-face {
    font-family: gotham-black;
    src: url(../fonts/GothamPro-Black.woff);
}
@font-face {
    font-family: gotham-bold;
    src: url(../fonts/GothamPro-Bold.woff);
}

